<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>   
    </head>
    <body>
    <!-- List of uploaded documents -->
    <h1>Currently uploaded prompt sources</h1>
    {% if promptsources %}
        <ul>
        {% for promptsource in promptsources %}
            <li> {{ promptsource.sourcefile }}</li> 
        {% endfor %}
        </ul>
    {% else %}
        <p>No prompt sources currently uploaded.</p>
    {% endif %}
         <!-- Upload form. Note enctype attribute! --> 
        <form action="{% url 'admin:apps.elicitation.views.pslist' %}" method="post" enctype="multipart/form-data">
             {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>Upload a new CMU Promptsource {{ form.sourcefile.label_tag }}.</p>
            <p>
                {{ form.sourcefile.errors }}
                SourceFile: {{ form.sourcefile }}
            </p>            
            <p><input type="submit" name="submit" value="Upload" /></p>
        </form>
    </body>
</html> 